<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="StaffAM">
    <listeners>
        <listener class-name="com.staff_am.utilities.Reporting"/>
    </listeners>
    <test name="Staff Automation test">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
<!--                        <class name="com.staff_am.testCases.TC_LoginTest_01"/>-->
<!--                        <class name="com.staff_am.testCases.TC_JobsPage_02"/>-->
<!--                        <class name="com.staff_am.testCases.TC_Search_03"/>-->
<!--                        <class name="com.staff_am.testCases.TC_SighOut_05"/>-->
<!--                        <class name="com.staff_am.testCases.TC_FilterLevel_06"/>-->
            <class name="com.staff_am.testCases.TC_ClearFilters_04"/>


        </classes>
    </test>
</suite>